.Cadastro {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
}

.Cadastro .icon {
  width: 60%;
  height: 100%;

  background: linear-gradient(
    180deg,
    #0e2aa3 0%,
    #0d30c2 27.6%,
    #073dea 67.71%,
    #0043ff 100%
  );

  margin-left: -12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Cadastro .icon img {
  width: 372;
  height: 257px;

  margin-bottom: 100px;
}

.Cadastro .input-bg {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #cbd3e8;
}

.Cadastro .input-bg .btns-container {
  width: 50%;

  display: flex;
  justify-content: space-between;
}

.Cadastro .input-bg .input-container {
  width: 50%;
}

.Cadastro .input-bg .icon-hidden {
  width: 320px;
  height: 215px;

  display: none;
}

@media (max-width: 1200px) {
  .Cadastro .icon {
    width: 40%;
  }

  .Cadastro .icon img {
    width: 322;
    height: 207px;
  }

  .Cadastro .input-bg {
    width: 70%;
  }
}
@media (max-width: 900px) {
  .Cadastro .icon {
    display: none;
  }

  .Cadastro .input-bg {
    position: absolute;
    width: 100%;
  }
  .Cadastro .input-bg {
    justify-content: space-evenly;
  }

  .Cadastro .input-bg .icon-hidden {
    width: 220px;
    height: 115px;

    display: block;
  }
}
